@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(225, 211, 193);
}
img{
    height: 80px;
    width: 80px;
    padding: 10px;
}
nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    background-color: black;
    height: 80px;
}
nav{
    font-family: 'Roboto Condensed', sans-serif;
    color: aliceblue;

}
nav ul li{
    padding: 0 20px 0 10px;
}
.brand{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    
}
.container{
    min-height: 75vh;
    align-items: center;
    background-color: rgb(35, 34, 34);
    color: black;
    display: flex;
    width: 50%;
    margin: 30px auto;
    border-radius: 12px;
    padding: 12px;
}
.songitemcon{
    display: flex;
    flex-direction:row;
    /* margin: 50px 50px 0 50px; */
}
.card {
    align-items: center;
    margin: 20px;
    
}
.card-img-top{
    height: 200px;
    
     

} 

i {
    cursor: pointer;
}
.songitem span{
    font-size: 0.7rem;
    /* display: flex;
    flex-direction: column; */
}
.bottom{
    position:sticky;
    height: 110px;
    background-color: black;
    bottom:0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#progress{
    width: 35vw;
   
    padding: 5px; 
    cursor: pointer;
    
}
.icons{
    cursor: pointer;
    color: white;
}
.fa-solid{
    padding: 10px;
    
}
.songinfo{
    
    position: absolute;
    left: 0px;
    text-align: center;
    
}
.songinfo img{
    height: 85px;
    width: 85px;
}
#gif {
    opacity: 0;
    width: 50px;
    height: 45px;
    transition: opacity 0.4ms ease-in-out ;
}
